<h1>Create an account</h1>
<%= render "shared/errors" %>
<form action="<%=users_url%>" method="post">

  <%= render "shared/authenticate" %>

  <label for="user_name">Username</label>
  <input
    type="text"
    name="user[user_name]"
    id="user_name"
    >

    <label for="password">Password</label>
    <input
      type="password"
      name="user[password]"
      id="password"
      >

    <input type="submit" value="Submit">


</form>
